@import 'utility.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0 , 100% 100%, 70% 87%, 0 100% );
    box-sizing: border-box;

}
.container{
    
    max-width: 1152px;
    padding: 1rem 9rem;
    margin: 0px auto;
}
header nav .left a{
    text-decoration: none;
    color: var(--pure);
    margin-right: 1.5rem;
    text-transform: uppercase;
    
}
header nav .left a:hover{
    color: var(--primary);
    transition: .4s;
}
nav .left{
    margin-right: 17rem; 
}

header nav .right .btn-primary:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--pure);

}
.btn-primary{
    background-color: var(--primary);
    color: var(--secondary);
}
.hero{
    padding: 3rem 0rem;
}
.hero img{
    height: 30rem;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.5;
    font-size: small;
}
.hero .left{
    margin-left: 3rem;
    padding-left: 4rem;
}